<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap" rel="stylesheet">

  <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
 <!-- <link rel="stylesheet" type="text/css" href="css/lightslider.css"> -->
 <script type="text/javascript" src="../../assets/image/JQuery3.3.1.js"></script> 
 <script type="text/javascript" src="../../assets/image/lightslider.js"></script>
  
</head>
<body>


<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="../../assets/image/s-1.jpg" alt="MET">
    </div>
    <div class="carousel-item">
      <img src="../../assets/image/s-2.jpg" alt="MET">
    </div>
    <div class="carousel-item">
      <img src="../../assets/image/s-3.jpg" alt="MET">
    </div>

  </div>
  
  
  <a class="carousel-control-prev" href="#" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

 <!--movies---------------------------->
   
        <h2 class="RM">Recommended Movies</h2>
    
    <section id="movies-list">
        <!--box-1------------------------>
        <div class="movies-box">
            <!--img------------>
            <div class="movies-img">
                <div class="quality">HDRip</div>
                <img src="../../assets/image/l-1.jpg">
            </div>
            <!--text--------->
            <a href="/movie-page" routerLink="movie-page">
                Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
            </a>
        </div>
         <!--box-2------------------------>
         <div class="movies-box">
            <!--img------------>
            <div class="movies-img">
                <div class="quality">HDRip</div>
                <img src="../../assets/image/l-2.jpg">
            </div>
            <!--text--------->
            <a href="/movie-page" routerLink="movie-page">
                Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
            </a>
        </div>
         <!--box-3------------------------>
         <div class="movies-box">
            <!--img------------>
            <div class="movies-img">
                <div class="quality">HDRip</div>
                <img src="../../assets/image/l-3.jpg">
            </div>
            <!--text--------->
            <a href="/movie-page" routerLink="movie-page">
                Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
            </a>
        </div>
         <!--box-4------------------------>
         <div class="movies-box">
            <!--img------------>
            <div class="movies-img">
                <div class="quality">HDRip</div>
                <img src="../../assets/image/l-4.jpg">
            </div>
            <!--text--------->
            <a href="/movie-page" routerLink="movie-page">
                Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
            </a>
        </div>
         <!--box-5------------------------>
         <div class="movies-box">
            <!--img------------>
            <div class="movies-img">
                <div class="quality">HDRip</div>
                <img src="../../assets/image/l-5.jpg">
            </div>
            <!--text--------->
         
            <a href="/movie-page" routerLink="movie-page">
                Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
            </a>
        </div>
         <!--box-6------------------------>
         <div class="movies-box">
            <!--img------------>
            <div class="movies-img">
                <div class="quality">HDRip</div>
                <img src="../../assets/image/l-6.jpg">
            </div>
            <!--text--------->
            <a href="/movie-page" routerLink="movie-page">
                Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
            </a>
        </div>
         <!--box-7------------------------>
         <div class="movies-box">
            <!--img------------>
            <div class="movies-img">
                <div class="quality">HDRip</div>
                <img src="../../assets/image/l-7.jpg">
            </div>
            <!--text--------->
            <a href="/movie-page" routerLink="movie-page">
                Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
            </a>
        </div>
         <!--box-8------------------------>
         <div class="movies-box">
            <!--img------------>
            <div class="movies-img">
                <div class="quality">HDRip</div>
                <img src="../../assets/image/l-8.jpg">
            </div>
            <!--text--------->
            <a href="/movie-page" routerLink="movie-page">
                Tin (2018) Full Movie[In English] With English Subtitles | HDRip 1080p HD
            </a>
        </div>
    </section>
<!--btns--------------->
    <div class="btns">
        <a href="#">Previous</a>
        <a href="#">Next</a>
    </div>

    
    <!--footer------------------>
    <footer>
        <p>Going To Internet, Ltd Consumer Website</p>
        <p>Copyright 2020 - GoingToInternet</p>
    </footer>

<script type="text/javascript">
	 $(document).ready(function() {
    $('#autoWidth,#autoWidth2').lightSlider({
        autoWidth:true,
        loop:true,
        onSliderLoad: function() {
            $('#autoWidth,#autoWidth2').removeClass('cS-hidden');
        } 
    });  
  });
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>

