<!DOCTYPE html>
<html>
<head>
	<title>UrbanTicket</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container header">
		<!-- <img src="../../assets/image/logo.jpg" class="logo"> -->
		<!-- <a href="#" class="header-btn"><i class="fa fa-user" aria-hidden="true"></i> Account</a> -->
		
	</div>

	<div class="container movie-details">
		<div class="row">
			<div class="col-md-6 left-box">
				<h1>ROBOT 2.0</h1>
				<p>Subscribe UrbanTicket to watch more movies.. <br>Press the bell icon for more updates.. </p>
				<p>Cast :</p>
				<div class="casting">
					<img src="../../assets/image/ash.jpeg" title="Ash">
					<img src="../../assets/image/chitti.jpeg" title="Rajinikanth">
					<img src="../../assets/image/danny.jpeg" title="danny">
					<img src="../../assets/image/ravi.jpeg" title="ravi">
					<img src="../../assets/image/siva.jpeg" title="siva">

					
				</div>
				<a href="#"><i class="fa fa-play" aria-hidden="true"></i> Watch now</a>
				<a href="#" class="download-btn"><i class="fa fa-arrow-down" aria-hidden="true"></i> Download</a>

			</div>

			<div class="col-md-6 text-center" >
				<img src="../../assets/image/image2.jpeg" class="movie-img">
			</div>
			
		</div>
		
	</div>

	<div class="container series">

		<h3>Popular Movies</h3>
		<div class="row">
			<div class="col-md-4">
				<div class="row">
					<div class="col-6"><img src="../../assets/image/image3.jpg"></div>
					<div class="col-6"><img src="../../assets/image/image4.jpg"></div>
					
				</div>
			</div>

			<div class="col-md-4">
				<div class="row">
					<div class="col-6"><img src="../../assets/image/image5.jpg"></div>
					<div class="col-6"><img src="../../assets/image/image6.jpg"></div>
					
				</div>
			</div>

			<div class="col-md-4">
				<div class="row">
					<div class="col-6"><img src="../../assets/image/image7.jpeg"></div>
					<div class="col-6"><img src="../../assets/image/image8.jpg"></div>
					
				</div>
			</div>

			<div class="col-md-4">
				<div class="row">
					<div class="col-6"><img src="../../assets/image/brooklyn.jpeg"></div>
					<div class="col-6"><img src="../../assets/image/johnyy.jpeg"></div>
					
				</div>
			</div>

			<div class="col-md-4">
				<div class="row">
					<div class="col-6"><img src="../../assets/image/inception.jpeg"></div>
					<div class="col-6"><img src="../../assets/image/raid.jpeg"></div>
					
				</div>
			</div>

			<div class="col-md-4">
				<div class="row">
					<div class="col-6"><img src="../../assets/image/mummy.jpeg"></div>
					<div class="col-6"><img src="../../assets/image/bilal.jpeg"></div>
					
				</div>
			</div>

			
		</div>
	</div>
	<img src="../../assets/image/cinemas.jpg" class="w3-image w3-greyscale-min" style="width: 100%">
	
	
	<!-- <footer class="container-fluid text-center">
		<p>Copyright  &#169 2020 | Static.com</p>
	  </footer> -->
	  <!-- <div class="cinema"><img src="../../assets/image/cinemas.jpg"></div> -->
	<!-- <div class="footer">
		<p >2021 @UrbanTicket</p>
	</div> -->
</body>
</html>
